@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .thead {
    @apply grid grid-cols-12 bg-white rounded border-b text-white;
  }
  .th {
    @apply text-center font-bold py-2 bg-blue-800;
  }

  .th-h {
    @apply text-center font-bold  py-2 bg-white px-2;
  }

  .tbody {
    @apply grid grid-cols-12 shadow-xl rounded;
  }

  .td {
    @apply py-2 px-2;
  }

  .td-btn {
    @apply py-2 px-2 flex items-center justify-center;
  }

  .edit-btn {
    @apply px-4 py-0 text-white shadow rounded-xl bg-green-700 hover:bg-green-800;
  }

  .delete-btn {
    @apply px-4 py-0 text-white shadow rounded-xl bg-red-600 hover:bg-red-700;
  }

  .print-btn {
    @apply px-4 py-0 text-white shadow rounded-xl bg-blue-700 hover:bg-blue-800;
  }

  .input {
    @apply px-2 py-1 w-full border rounded focus:outline focus:outline-blue-800;
  }

  .excel {
    @apply px-3 py-1 bg-green-700 font-bold text-white rounded inline shadow;
  }

  .tr {
    @apply grid grid-cols-12 my-2 shadow-xl bg-white rounded border hover:transition hover:translate-x-1 hover:translate-y-1 cursor-pointer;
  }

  .no {
    @apply text-center font-bold border-r py-2;
  }

  .card-header {
    @apply bg-blue-800 text-center text-2xl text-white py-2 m-0 font-bold;
  }

  .active-page {
    @apply px-3 py-4 bg-blue-900 text-white hover:text-white;
  }

  .unactive-page {
    @apply px-3 py-4 text-blue-900 hover:text-blue-900 hover:bg-[#caf4f1bc];
  }
  .sub-btn {
    @apply w-full py-2 text-left px-3 hover:bg-[#e2f5f4] hover:text-blue-900 font-semibold flex justify-between;
  }

  .list-menu {
    @apply absolute bg-white top-12 z-10 w-[200px] left-0 font-semibold text-blue-900;
  }

  .sub-menu {
    @apply absolute -right-52 z-20 bg-white w-[200px] top-0;
  }
}

/* ////////////////////////////////////////////////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #ececec !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container .wrapper {
  position: relative;
  height: 220px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  border: 2px dashed #c2cdda;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .image {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper .text {
  font-size: 20px;
  font-weight: 500;
  color: #38b2ac;
}

.wrapper #cancel-btn {
  position: absolute;
  font-size: 50px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 10;
  color: white;
  display: none;
}

.image:hover #cancel-btn {
  display: block;
}

.wrapper .file-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 8px 0;
  font-size: 18px;
  display: none;
  background: linear-gradient(
    135deg,
    rgba(42, 214, 120, 0.856) 0%,
    #38b2ac 100%
  );
}

#custom-btn {
  margin: 20px auto 0;
  width: 75%;
  height: 40px;
  display: block;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
  background: #38b2ac;
}

.page-content {
  /* margin-top: 100px; */
  font-size: 18pt;
}

.logo {
  font-family: 'Caveat', cursive;
  font-size: 56pt important!;
  font-weight: 900;
}

.dropdown-item:hover {
  color: #000 !important;
}
.modal {
  background-color: rgba(0, 0, 0, 0.7);
}


.times {
  font-family: 'Times New Roman', Times, serif;
}

/* table */
